html, body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

html {
  position: relative;
  overflow-x: hidden;
  margin: 16px;
  padding: 0;
  min-height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
}

.search{
  background-color: #FFFFFF;

}

.logo {
  width: 300px;
  height: 160px;
}

.searchform{
  display: flex;
  align-items: center;
  width : 500px;
}

.searchbutton{
  width: 90px;
  margin-left: 3px;
  font-size: 12px;
  padding: 4px 8px;
	color: black;
	background: white;
	border: 3px solid black;
	border-radius: 10%;
	cursor: pointer;
  
}

.searchbutton:hover {
  background-color: rgb(8, 44, 203);
  color : white;
}

.ser-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom : 40px;
}


.searchinput{
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.arbitrage{
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-collapse:collapse;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.t-head{
  text-align: center;
  font-weight: 5px;
  color: #757575;
  vertical-align: center;
}

.t-row{

}

.t-header{

  height: 40px;
  font-weight: 5px;
  color: rgb(138, 138, 138);
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.t-body{
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0.8rem;
  
}

.t-data{
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  background-color: #fcfcfc;
  border-top: 0.8rem;
} 
